body {
  margin: 15px auto;
  background-color:rgb(29, 26, 26);
}

* {
  line-height: 1.5;
  color: bisque;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  text-decoration: none;
}

